html, body{
    position: relative;
    color: lightgreen;
    background-color: black;
    margin: 50px;
    text-align: center;
}

#divMain{
    position: absolute;
    margin: 50px;
    left: 300px;
    width: 400px;
    height: 250px;
    background-color: rgb(2, 36, 146);
    border-radius: 20px;
    padding: 5px;
}

#celsiusTxt{
    background-color: white;
    width: 60px;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#calcularBtn{
    width: 80px;
    height: 30px;
    color: black;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#calcularBtn:hover{
    background-color: yellowgreen;
}

#resultado{
    position: relative;
    width: 80px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#limparBtn{
    width: 80px;
    height: 30px;
    color: black;
    padding: 5px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#limparBtn:hover{
    background-color: yellowgreen;
}